admin:
  password: {{ admin.password }}
certificates:
  ca: |
    {{ certificates.ca | indent(4, False) }}
  crt: |
    {{ certificates.crt | indent(4, False) }}
  key: |
    {{ certificates.key | indent(4, False) }}
loadBalancerIp: {{ load_balancer_ip }}