couchbase:
  passwordFileContent: {{ couchbase.password_file_content }}
  username: {{ couchbase.username}}
elasticsearch:
  passwordFileContent: {{ elasticsearch.password_file_content }}
  truststore: {{ elasticsearch.truststore }}
  truststorePasswordFileContent: {{ elasticsearch.truststore_password_file_content }}
  username: {{ elasticsearch.username }}
